li{
    font-size: 50px;
    display: block;

}
#vip{
    font-weight: bold;
}
.user-list {
    padding-left:30px;
    padding-top: 40px;
}
.user-list > li{
    color:red;
}
.user-list a{
    color:aquamarine;
}
